NEXT_PUBLIC_GITHUB_URL_IMAGES=https://raw.githubusercontent.com/ZorbaBuda/tina-blog/main/public/
GITHUB_URL_IMAGES=https://raw.githubusercontent.com/ZorbaBuda/tina-blog/main/public/
GITHUB_TOKEN=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
MY_SECRET_TOKEN=torroella
